@model IList<FoodService.Business.DTO.OrderAndAvaliableModel>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dayCounter = 0;
}

<h2>Order</h2>
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
<script type="text/javascript">
    $(function() {
        var startDate;
        var endDate;

        var selectCurrentWeek = function() {
            window.setTimeout(function () {
                $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            }, 1);
        }

        $('.week-picker').datepicker( {
            showOtherMonths: true,
            selectOtherMonths: true,
            firstDay: 1,
            dateFormat: "dd-mm-yy",
            onSelect: function(dateText, inst) {
                var date = $(this).datepicker('getDate');
                startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay()+1);
                endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 5);
                var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                $('#startDate').text($.datepicker.formatDate( dateFormat, startDate, inst.settings ));
                $('#endDate').text($.datepicker.formatDate( dateFormat, endDate, inst.settings ));
                selectCurrentWeek();
            },
            beforeShowDay:
                $.datepicker.noWeekends,

            onChangeMonthYear: function(year, month, inst) {
                selectCurrentWeek();
            }
        });

        $('.week-picker .ui-datepicker-calendar tr').live('mousemove', function() { $(this).find('td a').addClass('ui-state-hover'); });
        $('.week-picker .ui-datepicker-calendar tr').live('mouseleave', function() { $(this).find('td a').removeClass('ui-state-hover'); });
    });
</script>

<style>
    .weekDiashSet, .availibleDishes {
        float: left;
        width: 180px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #aaaaaa;
        overflow: auto;
    }
    .dateborderNo {
        float: left;
        width: 200px;
        height: 350px;
        margin: 0 0 100px 0;
        padding: 10px;
        border: 0px solid #aaaaaa;
      
    }

</style>



<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>


@using (Html.BeginForm("Index", "Order"))
{
    <input type="text" class="week-picker" id="date" name="date"  value="@DateTime.Today.ToShortDateString()" />
    <br />
    <br />

    <label>Week :</label> <span id="startDate"></span>  <span id="endDate"></span>

               <input type = "submit" />
}
<div class="row">
    @foreach (var z in Model)
    {

        <div id="@ViewBag.RequestDate.ToShortDateString()" class="col-lg-6 dateborderNo">
            <h3>@ViewBag.RequestDate.AddDays(dayCounter).ToShortDateString()</h3>
            <div id="@ViewBag.RequestDate.AddDays(dayCounter).DayOfWeek" class="col-lg-6 weekDiashSet"     ondrop="drop(event)" ondragover="allowDrop(event)">
                @foreach (var item in z.OrderPlateses)
                {
                    <input type="image" src='@Url.Content("~/Images/Dish/" + @item.Name + "/" + @item.ImagePath)' alt="@item.Name" width="120" height="120"
                           draggable="true" ondragstart="drag(event)" id="@item.ID" value="@item.ID" name="@item.ID"/>
                }
            </div>



        </div>

        dayCounter++;
    }</div>

<div class="col row">
    @foreach (var z in Model)
    {
        <div id="dishSetOn @ViewBag.RequestDate.AddDays(dayCounter).DayOfWeek" class="col-lg-6 weekDiashSet" ondrop="drop(event)" ondragover="allowDrop(event)">
            @foreach (var item in z.SetOnDays)
            {
                <input type="image" src='@Url.Content("~/Images/Dish/" + @item.Name + "/" + @item.ImagePath)' alt="@item.Name" width="120" height="120"
                       draggable="true" ondragstart="drag(event)" id="@item.ID" value="@item.ID" name="@item.ID"/>
            }

        </div>

    }


</div>

@using (Html.BeginForm("Edit", "Order"))
{
    <input type="text" hidden="hidden" name="dateOrder" id="dateOrder" value="@ViewBag.RequestDate"/>
    <input type="text"  name="mondaySet" id="mondaySet" value="0"/>
    <input type="text" hidden="hidden" name="tuesdaySet" id="tuesdaySet" value="0"/>
    <input type="text" hidden="hidden" name="wednesdaySet" id="wednesdaySet" value="0"/>
    <input type="text" hidden="hidden" name="thursdaySet" id="thursdaySet" value="0"/>
    <input type="text" hidden="hidden" name="fridaySet" id="fridaySet" value="0"/>

    <input type="submit" id="fillHidden" value="Save order"/>
}

<script>
    $('#fillHidden').click(function() {
        var arr = $.map($('#Monday > input'), function (child) { return child.id; });//$('#Monday > input');
        //$('#mondaySet').val(arr);
        //var value = ('#mondaySet').val();
        $("#mondaySet").val(arr);
        //$("input:text").val(arr);
        arr = $.map($('#Tuesday > input'), function (child) { return child.id; });
        $("#tuesdaySet").val(arr);
        arr = $.map($('#Wednesday > input'), function (child) { return child.id; });
        $("#wednesdaySet").val(arr);
        arr = $.map($('#Thursday > input'), function (child) { return child.id; });
        $("#thursdaySet").val(arr);
        arr = $.map($('#Friday > input'), function (child) { return child.id; });
        $("#fridaySet").val(arr);


    })    

</script>