@model FoodService.Business.DTO.BigDishAndWeekDishSet
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<style>
    #weekDiashSet, #availibleDishes {
        float: left;
        width: 600px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #aaaaaa;
        overflow: auto;
    }
</style>


<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
<div class="row">
    @using (Html.BeginForm("ChangeWeek", "WeekMenu"))
    {
        <input type="text" name="date" value="@ViewBag.DateWeek" readonly="readonly"/>
        <div id="weekDiashSet" ondrop="drop(event)" ondragover="allowDrop(event)" class="col-md-6">
            @foreach (var item in Model.CertainDishSets)
            {

                <input type="text" src='@Url.Content("~/Images/Dish/" + @item.Name + "/" + @item.ImagePath)' alt="@item.Name" width="120" height="120"
                       draggable="true" ondragstart="drag(event)" id="@item.ID" value="@item.ID" name="@item.ID"/>
            }
        </div>
        <input type="submit" value="Edit" class="btn btn-primary btn-lg" />
    }

    <input type="button" id="clearbtn" value="Clear set" class="btn btn-primary btn-lg"/>
    
    <input type="button" id="clearbtn" value="Clear set" class="btn btn-primary btn-lg" />

    <div id="availibleDishes" ondrop="drop(event)" ondragover="allowDrop(event)" class="col-md-6">

        @foreach (var item in Model.AllDishes)
        {

            <input type="text" src='@Url.Content("~/Images/Dish/" + @item.Name + "/" + @item.ImagePath)' alt="@item.Name" width="120" height="120"
                   draggable="true" ondragstart="drag(event)" id="@item.ID" value="@item.ID" name="@item.ID"
                   style="background-image: '''" />
            <input type="hidden" name="@item.ID"/>

                @*<a href='@Url.Action("Details", "Dishes", new {id = item.ID})'>
                        <img src='@Url.Content("~/Images/Dish/" + @item.Name + "/" + @item.ImagePath)' alt="@item.Name" width="160" height="160" />
                        <div class="carousel-caption">
                            <p>@item.Name</p>
                            <input type="hidden" name="@item.ID" />
                        </div>
                    </a>*@

        }



    </div>

    
    <script>
        $("#clearbtn").click(function () {
            $("#weekDiashSet").empty();
            $("div").append("Some appended text.");
        });

        $(document).ready(function(){
            $("#btn1").click(function(){
                $("p").append(" <b>Appended text</b>.");
            });

    </script>
</div>
<p></p>